<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

  <p>
    <strong>Send email?:</strong>
    <%= player.send_email? %>
  </p>

</div>
